#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#MainContent {
  width: 700px;
  min-height: 100vh;
}

/* GLOBAL SCROLLBAR - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa; /* Bootstrap light gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #adb5bd; /* Bootstrap secondary */
  border-radius: 10px;
  border: 2px solid #f8f9fa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6c757d; /* Bootstrap dark gray */
}

/* Firefox */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #adb5bd #f8f9fa;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  /* background-color: rgb(24, 26, 27); */
  /* background-color: #121212; */
  background-color: #0b0b0b;
}

footer {
  height: 85px;
}

#arrow-left {
  width: 50px;
  height: 50px;
}

#arrow-left:hover {
  background-color: #505050;
  cursor: pointer;
}

.text-pale {
  color: #b6b6b6;
}

.dot-separator {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.comment-link:hover {
  background-color: rgb(45, 45, 45);
  cursor: pointer;
}
