#leftSidebar {
  width: 250px;
  height: 100vh;
  background-color: inherit;
  color: #fff;
  padding: 20px;
}

.left-sidebar-item {
  height: 45px;
}

.left-sidebar-item:hover {
  background-color: #1a1d23;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#leftSidebar ul li {
  margin-bottom: 10px;
}

#leftSidebar ul a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.profile-dropdown button {
  background-color: unset;
  border: 0;
}

.profile-dropdown button::after {
  content: none;
}

.profile-dropdown button:hover,
.profile-dropdown button:active,
.profile-dropdown button:focus-visible,
.profile-dropdown button.show,
.profile-dropdown button:first-child:active {
  background-color: #1a1d23;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
