#leftSidebar {
  width: 250px;
  height: 100vh;
  background-color: inherit;
  color: #fff;
}

#leftSidebarIcon {
  width: 35px;
  height: 30px;
}

.left-sidebar-item {
  height: 45px;
  width: max-content;
}

.left-sidebar-item:hover {
  background-color: #1a1d23;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

li:not(:first-child) .left-sidebar-a-inner-icon {
  width: 25px;
  height: 25px;
}

.left-sidebar-a-inner-text {
  font-size: 28px;
}

.profile-dropdown button {
  background-color: unset;
  border: 0;
}

.profile-dropdown button::after {
  content: none;
}

.profile-dropdown button:hover,
.profile-dropdown button:active,
.profile-dropdown button:focus-visible,
.profile-dropdown button.show,
.profile-dropdown button:first-child:active {
  background-color: #1a1d23;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/** MEDIA QUERIES */

@media (width < 1200px) {
  #leftSidebar {
    width: 70px;
  }

  .left-sidebar-item {
    height: 45px;
    width: 45px;
  }

  .left-sidebar-a {
    height: 100%;
  }

  .left-sidebar-a-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-sidebar-item:hover {
    background-color: #1a1d23;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}
