.topic-category-item {
  background-color: "black";
  color: "white";
  font-size: 13px;
}

.topic-category-item:hover {
  background-color: white !important;
  color: black !important;
  cursor: pointer;
}

.topic-category-item-disabled:hover {
  cursor: not-allowed;
}
